<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="../public/assets/css/loginStyle.css">
  <title>Warehouse Logistics - Login</title>
</head>
<body>
  <div class="container">
    <h1>Warehouse Logistics</h1>
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="userName">Username</label>
        <input type="text" class="form-control" id="userName" name="userName" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="userPassword">Password</label>
        <input type="password" class="form-control" id="userPassword" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-warning btn-lg" id="loginBtn">Login</button>
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Register</button>
    </form>
    <div class="footer">
      <h5>Trevors Team @Copyright 2018</h5>
    </div>
  </div>

  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Register Username</h4>
        </div>
        <div class="modal-body">
          <form action="/signup" method="POST">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
            </div>
            <div class="form-group">
              <label for="userName">Username</label>
              <input type="text" class="form-control" id="userName" name="userName" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="userPassword">Password</label>
              <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="Password">
            </div>
            <label for="companySelector">Company:</label>
            <select class="form-control" id="companySelector" name="companySelector">
              <option>Soda Company 1</option>
              <option>Beer Company 1</option>
              <option>Snack Company 1</option>
            </select>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">Register</button>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>