body {
  background-image: url("../images/2829985075_d262a4181f_o.jpg");
  background-size: cover;
}

.container {
  background-color: rgba(255,255,255,.8);
  margin-top: 80px;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
}

form {
  margin: auto;
  max-width: 300px;
}

.modal-content {
  background-color: rgba(0,0,0,.8);
}

/* Modal Font */
.modal-title {
  color: white;
}
.modal-body label {
  color: white;
}
/* ---------------- */
.footer {
  background-attachment: scroll;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(124, 45, 45, 0.5);
  color: lightgray;
  text-align: center;
}