body {
  background: url("../images/2829985075_d262a4181f_o.jpg");
  background-size: cover;
}

.container {
  background-color: rgba(255, 255, 255, .80);
  padding-bottom: 30px;
  position: relative;
  top: 30px;
}

#inputSpace {
  border: solid;
  background-color: gray;
  max-width: 50%;
  margin-bottom: 40px;
}

.bodyContent {
  margin-top: 65px;
}


#querydata .form-group {
  padding: 10px;
}

#reportGen {
  margin-left: 10px;
  margin-bottom: 10px;
}

#toggle {
  margin-left: 10px;
  margin-bottom: 10px;
}

#tableSpace {
  background-color: grey;
  text-align: center;
}

.loginInfo {
  padding-top: 5px;
  float: right;
}
#ChartDiv {
  background-color: white;
  z-index: 99;
}
#queryContent {
	margin-top: 55px;
}